<form [formGroup]="resetPasswordForm" class="w-50 m-auto mt-4">

    <!-- RESET PASSWORD SECTION -->
    <div *ngIf="isReset">
      <h3 class="fw-semibold text-capitalize text-center">reset password</h3>
      <div class="my-4 ">
        <label for="password">current password</label>
        <input class="form-control" type="password" placeholder="password" formControlName="oldPassword">
      </div>
  
      <div class="my-4 ">
        <label for="password">password</label>
        <input class="form-control" type="password" placeholder="password" formControlName="password">
        <div
          *ngIf="resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.value?.length > 0)"
          class="alert alert-danger mt-2">
          <p *ngIf="resetPasswordForm.get('password')?.getError('required')">password is required</p>
          <p *ngIf="resetPasswordForm.get('password')?.getError('pattern')">invalid password </p>
        </div>
      </div>
  
      <div class="my-4 ">
        <label for="password">re-enter password</label>
        <input class="form-control" type="password" placeholder="password" formControlName="rePassword">
        <div
          *ngIf="resetPasswordForm.get('rePassword')?.errors && (resetPasswordForm.get('rePassword')?.touched || resetPasswordForm.get('rePassword')?.value?.length > 0)"
          class="alert alert-danger mt-2 ">
          <p *ngIf="resetPasswordForm.get('rePassword')?.getError('required')">password is required</p>
          <p *ngIf="resetPasswordForm.get('rePassword')?.getError('mismatch')">passwords not matching </p>
        </div>
      </div>
    </div>
  
  
    <!-- FORGOT PASSWORD SECTION -->
    <div *ngIf="!isReset && !codeSuccess">
      <h3 class="fw-semibold text-capitalize text-center mb-4">forgot password</h3>
      <div *ngIf="!emailSent" class="my-4 ">
        <label for="email">email</label>
        <input class="form-control" type="email" placeholder="example@example.com" formControlName="email">
        <div
          *ngIf="resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.value?.length > 0)"
          class="alert alert-danger mt-2 ">
        </div>
      </div>
  
      <ng-otp-input *ngIf="emailSent" (onInputChange)="onOtpChange($event)"
        [config]="{length:6, allowNumbersOnly: true,containerClass: 'd-flex justify-content-center', inputClass:'m-sm-0 m-md-1 rounded-4'}">
      </ng-otp-input>
    </div>
  
  
  
    <!-- RESET FORGOT PASSWORD -->
    <div *ngIf="codeSuccess">
      <h3 class="fw-semibold text-capitalize text-center mb-4">forgot password</h3>
      <div class="my-4 ">
        <label for="email">email</label>
        <input class="form-control" type="email" placeholder="example@example.com" formControlName="email">
        <div
          *ngIf="resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched || resetPasswordForm.get('email')?.value?.length > 0)"
          class="alert alert-danger mt-2 ">
        </div>
      </div>
  
      <div class="my-4 ">
        <label for="password">password</label>
        <input class="form-control" type="password" placeholder="password" formControlName="password">
        <div
          *ngIf="resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.value?.length > 0)"
          class="alert alert-danger mt-2">
          <p *ngIf="resetPasswordForm.get('password')?.getError('required')">password is required</p>
          <p *ngIf="resetPasswordForm.get('password')?.getError('pattern')">invalid password </p>
        </div>
      </div>
    </div>
  
  
    <!-- FORM BUTTONS -->
    <div class="d-flex justify-content-between align-items-center gx-2 flex-column mt-4">
      <button *ngIf="isReset" (click)="resetPassword()"
        [disabled]="resetPasswordForm.get('password')?.invalid || resetPasswordForm.get('rePassword')?.invalid"
        class="btn btn-primary btn-main w-100 d-block mt-2">
        reset password
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      </button>
      <a *ngIf="isReset" (click)="isReset = false"
        class="profile-link text-main cursor-pointer text-decoration-underline m-3">
        forgot password
      </a>
  
      <!-- change button to forgor password -->
      <button (click)="sendCode()" *ngIf="!isReset && !emailSent" [disabled]="resetPasswordForm.get('email')?.invalid"
        type="submit" class="btn btn-primary btn-main w-100 d-block mt-2">
        send code
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      </button>
  
      <button (click)="resetForgotPassword()" [disabled]="!isCodeFull" *ngIf="emailSent"
        [disabled]="resetPasswordForm.get('email')?.invalid" type="submit"
        class="btn btn-primary btn-main w-100 d-block mt-2">
        reset password
        <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      </button>
  
  
      <a *ngIf="emailSent" (click)="emailSent = false"
        class="profile-link text-main cursor-pointer text-decoration-underline m-3">
        enter email again
      </a>
    </div>
  
  
  </form>
  